h1{
    color: black;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f0f0;
    margin: 0;
    padding: 20px;
}



#Tela {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 8px;
    width: 306px;
    margin: 0 auto;
}

.aereajg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.238);
    border: 2px solid #03009c;
    cursor: pointer;
}

.aereajg:hover {
    background-color: #f0f0f0;
}
button {
    background-color: #03009c;
    color: #fff;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
p{
   font-size: 2rem;
   color: black;
}